n8n-lembrete-leilao.json
{
  "name": "FlowDesck — Lembretes de Leilão (WhatsApp Evolution)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "node-schedule",
      "name": "⏰ Verificar a cada hora",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "getAll",
        "tableId": "leilao_cards_com_sublista",
        "returnAll": false,
        "limit": 50,
        "filterType": "string",
        "filterString": "due_date=gte.{{ $now.toISO() }}&due_date=lte.{{ $now.plus({days: 2, hours: 1}).toISO() }}&select=id,titulo,due_date,link_leilao,sublista_id",
        "options": {}
      },
      "credentials": {
        "supabaseApi": {
          "id": "supabase-flowdesck",
          "name": "Supabase FlowDesck"
        }
      },
      "id": "node-supabase-query",
      "name": "🗄️ Buscar leilões no Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [480, 300],
      "notes": "Credencial: URL = https://ooejtjqxobfrletpssjm.supabase.co | Service Role Key do Supabase"
    },
    {
      "parameters": {
        "jsCode": "// Pega todos os itens da query\nconst items = $input.all();\n\nif (!items || items.length === 0) {\n  return [];\n}\n\nconst agora = new Date();\nconst resultado = [];\n\nfor (const item of items) {\n  const card = item.json;\n  if (!card.due_date || !card.titulo) continue;\n\n  const dueDateUTC = new Date(card.due_date);\n  const diffMs   = dueDateUTC.getTime() - agora.getTime();\n  const diffHoras = diffMs / (1000 * 60 * 60);\n\n  // Janela de ±1h para cada marco\n  const is2dias = diffHoras >= 47 && diffHoras <= 49;  // ~48h\n  const is1dia  = diffHoras >= 23 && diffHoras <= 25;  // ~24h\n  const isHoje  = diffHoras >= -0.5 && diffHoras <= 1.5; // ~agora\n\n  if (!is2dias && !is1dia && !isHoje) continue;\n\n  // Formatar data e hora\n  const dataFormatada = dueDateUTC.toLocaleDateString('pt-BR', {\n    timeZone: 'America/Sao_Paulo',\n    weekday: 'long',\n    day: '2-digit',\n    month: 'long',\n    year: 'numeric'\n  });\n  const horaFormatada = dueDateUTC.toLocaleTimeString('pt-BR', {\n    timeZone: 'America/Sao_Paulo',\n    hour: '2-digit',\n    minute: '2-digit'\n  });\n\n  // Título resumido\n  const tituloResumido = card.titulo.length > 120\n    ? card.titulo.substring(0, 120) + '...'\n    : card.titulo;\n\n  // Tipo do lembrete\n  let tipoLembrete, emoji, urgencia;\n  if (is2dias) {\n    tipoLembrete = '2 DIAS';\n    emoji = '📅';\n    urgencia = 'Prepare a documentação e análise jurídica!';\n  } else if (is1dia) {\n    tipoLembrete = '1 DIA';\n    emoji = '⚠️';\n    urgencia = 'AMANHÃ! Confirme sua participação.';\n  } else {\n    tipoLembrete = 'HOJE';\n    emoji = '🔨';\n    urgencia = 'LEILÃO HOJE! Acesse agora.';\n  }\n\n  // Montar mensagem\n  const linhas = [\n    `${emoji} *LEMBRETE DE LEILÃO — FALTAM ${tipoLembrete}*`,\n    ``,\n    `🏠 *Imóvel:*`,\n    tituloResumido,\n    ``,\n    `📆 *Data do leilão:* ${dataFormatada}`,\n    `🕐 *Horário:* ${horaFormatada}`,\n    ``,\n    `⚡ ${urgencia}`,\n  ];\n\n  if (card.link_leilao) {\n    linhas.push(``);\n    linhas.push(`🔗 *Acesse o leilão:*`);\n    linhas.push(card.link_leilao);\n  }\n\n  linhas.push(``);\n  linhas.push(`_FlowDesck · Ruah Systems_`);\n\n  resultado.push({\n    json: {\n      ...card,\n      mensagem: linhas.join('\\n'),\n      tipoLembrete,\n      dataFormatada,\n      horaFormatada,\n      tituloResumido\n    }\n  });\n}\n\nreturn resultado;"
      },
      "id": "node-format",
      "name": "📝 Filtrar janela + formatar mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-has-msg",
              "leftValue": "={{ $json.mensagem }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-check",
      "name": "🔍 Tem lembrete para enviar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://SEU_SERVIDOR_EVOLUTION:8080/message/sendText/FlowDesck",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUA_API_KEY_EVOLUTION"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"SEU_NUMERO_COM_DDI\",\n  \"text\": {{ JSON.stringify($json.mensagem) }}\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "node-whatsapp",
      "name": "📱 Enviar WhatsApp (Evolution API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 220],
      "notes": "Troque:\n- SEU_SERVIDOR_EVOLUTION pelo IP/domínio da sua Evolution\n- SUA_API_KEY_EVOLUTION pela sua chave\n- SEU_NUMERO_COM_DDI ex: 5521999998888\n- FlowDesck pelo nome da sua instância na Evolution"
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "create",
        "tableId": "activity_log",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "sector",
              "fieldValue": "leilao"
            },
            {
              "fieldId": "user_name",
              "fieldValue": "n8n_bot"
            },
            {
              "fieldId": "action",
              "fieldValue": "=Lembrete {{ $json.tipoLembrete }} enviado via WhatsApp"
            },
            {
              "fieldId": "details",
              "fieldValue": "={{ $json.tituloResumido }}"
            }
          ]
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "supabase-flowdesck",
          "name": "Supabase FlowDesck"
        }
      },
      "id": "node-log",
      "name": "📋 Registrar no FlowDesck",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1440, 220]
    },
    {
      "parameters": {},
      "id": "node-noaction",
      "name": "✅ Nenhum lembrete agora",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1200, 420]
    }
  ],
  "connections": {
    "⏰ Verificar a cada hora": {
      "main": [
        [
          {
            "node": "🗄️ Buscar leilões no Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🗄️ Buscar leilões no Supabase": {
      "main": [
        [
          {
            "node": "📝 Filtrar janela + formatar mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Filtrar janela + formatar mensagem": {
      "main": [
        [
          {
            "node": "🔍 Tem lembrete para enviar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Tem lembrete para enviar?": {
      "main": [
        [
          {
            "node": "📱 Enviar WhatsApp (Evolution API)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "✅ Nenhum lembrete agora",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📱 Enviar WhatsApp (Evolution API)": {
      "main": [
        [
          {
            "node": "📋 Registrar no FlowDesck",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "staticData": null,
  "tags": ["leilao", "whatsapp", "lembretes", "evolution"]
}
