n8n-lembrete-leilao.json
{
  "name": "FlowDesck — Lembretes de Leilão (WhatsApp Evolution)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "node-schedule",
      "name": "⏰ Verificar a cada hora",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "getAll",
        "tableId": "leilao_cards",
        "returnAll": true,
        "options": {
          "filters": [
            {
              "keyName": "due_date",
              "condition": "not.is",
              "keyValue": "null"
            }
          ]
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "supabase-flowdesck",
          "name": "Supabase FlowDesck"
        }
      },
      "id": "node-supabase-query",
      "name": "🗄️ Buscar todos leilões com data",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        480,
        300
      ],
      "notes": "Credencial Supabase:\n- Host: https://ooejtjqxobfrletpssjm.supabase.co\n- Service Role Key (Settings > API)"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nif (!items || items.length === 0) return [];\n\nconsole.log(`Cards recebidos: ${items.length}`);\n\n// Data de hoje em BRT (UTC-3) — zerando a hora para comparar só o DIA\nconst agoraUTC = new Date();\nconst agoraBRT = new Date(agoraUTC.getTime() - 3 * 60 * 60 * 1000);\n\n// Meia-noite de hoje em BRT (como referência de dia)\nconst hojeBRT = new Date(Date.UTC(\n  agoraBRT.getUTCFullYear(),\n  agoraBRT.getUTCMonth(),\n  agoraBRT.getUTCDate(),\n  0, 0, 0\n));\n\nconsole.log(`Hoje BRT (meia-noite): ${hojeBRT.toISOString()}`);\n\nconst resultado = [];\n\nfor (const item of items) {\n  const card = item.json;\n  if (!card.due_date || !card.titulo) continue;\n\n  // Parsear due_date de forma robusta\n  const dueDateStr = String(card.due_date)\n    .replace('+00:00', 'Z')\n    .replace(' ', 'T');\n  const dueDateUTC = new Date(dueDateStr);\n\n  if (isNaN(dueDateUTC.getTime())) {\n    console.log(`Data inválida: ${card.due_date}`);\n    continue;\n  }\n\n  // Converter due_date para BRT e pegar só o DIA\n  const dueBRT = new Date(dueDateUTC.getTime() - 3 * 60 * 60 * 1000);\n  const dueDiaBRT = new Date(Date.UTC(\n    dueBRT.getUTCFullYear(),\n    dueBRT.getUTCMonth(),\n    dueBRT.getUTCDate(),\n    0, 0, 0\n  ));\n\n  // Diferença em DIAS (comparando dias corridos, não horas exatas)\n  const diffDias = Math.round((dueDiaBRT - hojeBRT) / (1000 * 60 * 60 * 24));\n\n  const horaFormatada = `${String(dueBRT.getUTCHours()).padStart(2,'0')}:${String(dueBRT.getUTCMinutes()).padStart(2,'0')}`;\n\n  console.log(`[${card.titulo.substring(0,40)}] due_dia=${dueDiaBRT.toISOString().slice(0,10)} diffDias=${diffDias} hora=${horaFormatada}`);\n\n  // Lógica por DIA CORRIDO\n  const is2dias = diffDias === 2;\n  const is1dia  = diffDias === 1;\n  // Para HOJE: só notifica se o leilão ainda NÃO aconteceu\n  // Tolerância de 30min após o horário (workflow pode rodar até 30min depois)\n  const isHoje  = diffDias === 0 && dueDateUTC.getTime() > (agoraUTC.getTime() - 30 * 60 * 1000);\n\n  if (!isHoje && !is1dia && !is2dias) {\n    console.log(`  → fora das janelas (${diffDias} dias), pulando`);\n    continue;\n  }\n\n  // Formatar data\n  const dataFormatada = dueDiaBRT.toLocaleDateString('pt-BR', {\n    timeZone: 'UTC',\n    weekday: 'long',\n    day: '2-digit',\n    month: 'long',\n    year: 'numeric'\n  });\n\n  const tituloResumido = card.titulo.length > 120\n    ? card.titulo.substring(0, 120) + '...'\n    : card.titulo;\n\n  let tipoLembrete, emoji, urgencia;\n  if (isHoje) {\n    tipoLembrete = 'HOJE';\n    emoji = '🔨';\n    urgencia = 'LEILÃO HOJE! Acesse o link agora.';\n  } else if (is1dia) {\n    tipoLembrete = '1 DIA';\n    emoji = '⚠️';\n    urgencia = 'AMANHÃ! Confirme sua participação.';\n  } else {\n    tipoLembrete = '2 DIAS';\n    emoji = '📅';\n    urgencia = 'Prepare documentação e análise jurídica!';\n  }\n\n  const linhas = [\n    `${emoji} *LEMBRETE DE LEILÃO — FALTAM ${tipoLembrete}*`,\n    ``,\n    `🏠 *Imóvel:*`,\n    tituloResumido,\n    ``,\n    `📆 *Data:* ${dataFormatada}`,\n    `🕐 *Horário:* ${horaFormatada}`,\n    ``,\n    `⚡ ${urgencia}`,\n  ];\n\n  if (card.link_leilao) {\n    linhas.push(``);\n    linhas.push(`🔗 *Link do leilão:*`);\n    linhas.push(card.link_leilao);\n  }\n\n  linhas.push(``);\n  linhas.push(`_FlowDesck · Ruah Systems_`);\n\n  resultado.push({\n    json: {\n      id: card.id,\n      titulo: card.titulo,\n      due_date: card.due_date,\n      link_leilao: card.link_leilao || '',\n      mensagem: linhas.join('\\n'),\n      tipoLembrete,\n      dataFormatada,\n      horaFormatada,\n      tituloResumido,\n      diffDias\n    }\n  });\n\n  console.log(`  ✅ Lembrete ${tipoLembrete} gerado!`);\n}\n\nconsole.log(`Total lembretes: ${resultado.length}`);\nreturn resultado;"
      },
      "id": "node-format",
      "name": "📝 Filtrar janela + formatar mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-has-msg",
              "leftValue": "={{ $json.mensagem }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-check",
      "name": "🔍 Tem lembrete para enviar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        960,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://SEU_SERVIDOR_EVOLUTION:8080/message/sendText/NOME_INSTANCIA",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUA_API_KEY_EVOLUTION"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"55SEUNUMERO\",\n  \"text\": {{ JSON.stringify($json.mensagem) }}\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "node-whatsapp",
      "name": "📱 Enviar WhatsApp (Evolution API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        220
      ],
      "notes": "Substituir:\n• SEU_SERVIDOR_EVOLUTION → IP ou domínio\n• NOME_INSTANCIA → nome da instância Evolution\n• SUA_API_KEY_EVOLUTION → sua apikey\n• 55SEUNUMERO → ex: 5521999998888"
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "create",
        "tableId": "activity_log",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "sector",
              "fieldValue": "leilao"
            },
            {
              "fieldId": "user_name",
              "fieldValue": "n8n_bot"
            },
            {
              "fieldId": "action",
              "fieldValue": "={{ 'Lembrete ' + $json.tipoLembrete + ' enviado via WhatsApp' }}"
            },
            {
              "fieldId": "details",
              "fieldValue": "={{ $json.tituloResumido }}"
            }
          ]
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "supabase-flowdesck",
          "name": "Supabase FlowDesck"
        }
      },
      "id": "node-log",
      "name": "📋 Registrar no FlowDesck",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1440,
        220
      ]
    },
    {
      "parameters": {},
      "id": "node-noaction",
      "name": "✅ Nenhum lembrete agora",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1200,
        420
      ]
    }
  ],
  "connections": {
    "⏰ Verificar a cada hora": {
      "main": [
        [
          {
            "node": "🗄️ Buscar todos leilões com data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🗄️ Buscar todos leilões com data": {
      "main": [
        [
          {
            "node": "📝 Filtrar janela + formatar mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Filtrar janela + formatar mensagem": {
      "main": [
        [
          {
            "node": "🔍 Tem lembrete para enviar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Tem lembrete para enviar?": {
      "main": [
        [
          {
            "node": "📱 Enviar WhatsApp (Evolution API)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "✅ Nenhum lembrete agora",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📱 Enviar WhatsApp (Evolution API)": {
      "main": [
        [
          {
            "node": "📋 Registrar no FlowDesck",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "staticData": null,
  "tags": [
    "leilao",
    "whatsapp",
    "lembretes",
    "evolution"
  ]
}